<%= render 'shared/header' %>

<div class="show-users-content">
  <div class="show-user-content">

    <h2 class="show-user-name">
      <%= current_user.nickname %>
    </h2>

    <%=image_tag current_user.image.url, class:"show-user-icon" %>

  </div>

  <div class="posts-content">
    <% @posts.each do |post|%>
    <div class="post-content">
      <%=link_to post_path(post.id) do %>
      <%= image_tag post.image,class:"post-image" if post.image.attached?%>
      <% end %>

      <div class="post-name">

        <%= post.name %>

        <%= post.likes.count %>

        <%= post.comments.count %>
      </div>
    </div>
    <% end %>
  </div>
</div>