<%= render 'shared/header' %>

<div class="user-show-content">

  <h2 class="user-show-name">
    <%= current_user.nickname %>
  </h2>

  <p class="user-show-create">
    メンバー歴:<%= current_user.created_at.to_s(:datetime_jp)%>より
  </p>
   

  <%=image_tag current_user.image.url, class:"user-show-icon" %>

  <div class="posts-count">
    投稿：<%= @posts.count %>
    &nbsp;
    いいね：<%= current_user.likes.count %>
    &nbsp;
    コメント：<%= current_user.comments.count%>
  </div>

  <% if user_signed_in? && current_user.id %>
    <%=link_to 'プロフィールを編集する', edit_user_path(current_user.id), class:"user-edit-btn" %>
  <% end %>

  <%# <%=link_to 'ダイレクトメッセージ', "#", class:"user-dm-btn" %> 

  <div class="about-box">
    <h2 class="post-title">
      画像投稿一覧
    </h2>
  </div>
  
  <div class="posts-content">
    <% @posts.each do |post|%>
    <div class="post-content">

      <%=link_to post_path(post.id) do %>
        <%= image_tag post.image,class:"post-image" if post.image.attached?%>
      <% end %>

      <div class="post-name">
        <%= post.name %>

        いいね：<%= post.likes.count %>

        コメント数：<%= post.comments.count %>
      </div>

    </div>
    <% end %>
  </div>
</div>

<%=render 'shared/footer'%>