<div class="login-box">
  <h2 class="login-title">
    Pixel Exhibition
  </h2>

  <div class="login-text-box">
    <p class="login-text">ログイン</p>
  </div>

  <div class="login-content">
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>

    <div class="label">
      <%= f.label :email%>
    </div>
    <%= f.email_field :email, placeholder:"Email", autofocus: true%>

    <div class="label">
      <%= f.label :password%>
    </div>
    <%= f.password_field :password, placeholder:"Password", autocomplete: "off"%>

    <%= f.submit "ログイン", class: 'btn'%>

    <div class="root-btn-login">
      <%=link_to 'トップページに戻る', root_path, class:"root-login-btn"%>
    </div>
  <% end %>
  </div>
</div>