<%= render 'shared/header' %>



<% @posts.each do |post| %>
<%= link_to post_path(post.id) do %>
<%= image_tag post.image, class:"test"%>
<% end %>
<div class="name">
  <%= post.name %>
  <%= post.text %>
</div>
<%= post.likes.count %>
<% end %>
<%= link_to '投稿する', new_post_path %>