<% if user_signed_in? %>

<%=render 'shared/header'%>

<div class="Main">
  <div class="main-box">
    <div class="main-image"></div>
    <div class="main-image2"></div>

    <h2 class="main-title">
      Pixel Exhibition
    </h2>

    <p class="main-text">
      Share your images with people around the world
    </p>
  </div>

  <h2 class="about-title">
    <span class="test">Pixel Exhibition</span>について
  </h2>

  <div class="about">
    <p class="about-text">
      <span class="test">Pixel Exhibition</span>では自分のお気に入りの画像を投稿する事ができるアプリであり<br>
      <span class="test">Pixel Exhibition</span>を利用すれば世界中の人々と画像を共有できます。<br>
      また、著作者に対する許可やクレジットは不要で安全に利用できます。
    </p>
  </div>

  <h2 class="post-title">
    画像投稿一覧
  </h2>
  
  <div class="posts-content">
    <% @posts.each do |post|%>
    <div class="post-content">

      <%=link_to post_path(post.id) do %>
        <%= image_tag post.image,class:"post-image" if post.image.attached?%>
      <% end %>

      <div class="post-name">
        <%= post.name %>
        
        いいね：<%= post.likes.count %>

        コメント数：<%= post.comments.count %>
      </div>

    </div>
    <% end %>
  </div>
</div>

<% else %>

<div class="Main-sab">
  <div class="main-sab-box">
    <h2 class="main-sab-title">
      Pixel Exhibition
    </h2>

    <p class="sab-title">
       Welcome to Pixel Exhibition
    </p>

    <p class="sab-text">
      <span class="test">Pixel Exhibition</span>は無料でお気に入りの画像を投稿できるアプリです。<br>
      まずはサインアップを行いましょう！
    </p>
    
    <div class="sab-content">
      <%=link_to 'サインアップは無料です！',new_user_registration_path, class:"new-sab-btn" %>
    </div>

    <div class="sab-content2">
      <%=link_to 'ログイン',new_user_registration_path, class:"login-btn" %>
    </div>

    <div class="privacy">
      <%=link_to 'プライバシーポリシーと利用規約',"#",class:"privacy-link"%>
    </div>

    <div class="contact-us">
      <%=link_to 'お問い合わせ',"#",class:"contact-link"%>
    </div>

    <div class="pixel">
      <%=link_to 'Pixel',"#",class:"pixel-link"%>
    </div>
  </div>
</div>









<% end %>