<%=render 'shared/header' %>

<div class="new-box">
  <div class="new-title">
    Pixel Exhibition
  </div>
  
  <div class="new-text-title">
    <p class="new-text">
      画像投稿
    </p>
  </div>

  <div class="new-content">
  <%= form_with model: @post,url: posts_path,local: true do |f|%>

    <div class="label">
      <%= f.label :image, "画像を選択する", class:"login-image-btn"%>
    </div>
    <div class="file-upload-button">
      <%= f.file_field :image,class: "fileInput",style: "display:none;" %>
    </div>
    
    <div class="label">
      <%= f.label :name %>
    </div>
    <%= f.text_field :name, placeholder:"NAME", autofocus: true%>

    <div class="label">
      <%= f.label :text %>
    </div>
    <%= f.text_area :text, placeholder:"Text", autofocus: true%>
    
    <%= f.submit "投稿する", class:"post-btn" %>

    <div class="new-post-btn">
      <%=link_to '戻る', root_path, class:"new-btn"%>
    </div>

  <% end %>
  </div>
</div>

<%=render 'shared/footer'%>

