<%=render 'shared/header'%>

<div class="new-main">

  <div class="new-box">
    <h2 class="new-title">
      Pixel Exhibition
    </h2>
  <%= form_with model: @post,url: posts_path,local: true do |f|%>
    <%= f.file_field :image %>

    <%= f.text_field :name, placeholder:"画像名"%>

    <%= f.text_area :text, placeholder:"説明文" %>

    <%= f.submit "投稿する", class:"post-btn" %>
  <% end %>
  </div>

</div>