
<div class="new-posts-content">
  <div class="new-post">
  <%= form_with model: @post,url: posts_path,local: true do |f|%>
  <h2 class="new-title">
    Pixel Exhibition
  </h2>
  
  <%= f.file_field :image %>

  <%= f.text_field :name, placeholder:"画像名"%>

  <%= f.text_area :text, placeholder:"説明文" %>

  <%= f.submit "投稿する", class:"post-btn" %>

  <%=link_to '戻る', root_path, class:"new-btn"%>
  <% end %>
  </div>
</div>