<%=render 'shared/header'%>

<div class="new-main">
  <div class="new-main-content">
    <h2 class="new-title">
      Pixle Exhibition
    </h2>

    <div class="new-text-content">
      <p class="new-text">Let's post an image</p>
    </div>
    <%= form_with model: @post,url: posts_path,local: true do |f|%>
      
      <%= f.file_field :image %>

      <%= f.text_field :name, placeholder:"NAME"%>

      <%= f.text_area :text, placeholder:"Explanatory text" %>
      
      <%= f.submit "投稿する", class:"post-btn" %>

      <div class="new-post-btn">
        <%=link_to '戻る', root_path, class:"new-btn"%>
      </div>
      
    <% end %>






  </div>
</div>